
.vs/DeliverySystem/v15/Server/sqlite3/db.lock
.vs/DeliverySystem/v15/Server/sqlite3/storage.ide
.vs/DeliverySystem/v15/Server/sqlite3/storage.ide-shm
.vs/DeliverySystem/v15/Server/sqlite3/storage.ide-wal
.vs/DeliverySystem/v15/.suo
